@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'LifeCraft'; /* Your custom font name */
    src: url('../assets/fonts/LifeCraft_Font.ttf') format('truetype'); /* Adjust path as needed */
    font-weight: normal; /* Define weights if applicable */
    font-style: normal; /* Define styles if applicable */
}

@layer utilities {
    .text-stroke {
        -webkit-text-stroke: 1px darkblue;
    }
}
